# Qt build artifacts
build*/
*.o
*.obj
*.so
*.exe
*.dll
*.app
*.user
*.autosave
*.qtc_clangd/
CMakeFiles/
CMakeCache.txt
*.ninja
*.cmake
*.log
*.idx
*.plist

# macOS junk
.DS_Store
*.user
370-project/370-Project/CMakeLists.txt.user
370-project/370-Project/CMakeLists.txt.user.930a5fe
